### Zadanie 11_1

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import cufflinks as cf
cf.go_offline()

In [4]:
import plotly.offline as pyo
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

In [5]:
import plotly.offline as pyo
import plotly.graph_objects as go

In [6]:
import plotly.io as pio
#pio.renderers.default = "notebook"   # albo "notebook_connected"
pio.renderers.default = "iframe"

In [7]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

##### 1) Pobierz dane dotyczące cen akcji KGHM oraz cen miedzi.<br> 2)Stwórz dwa osobne wykresy liniowe (jeden pod drugim) – jeden niech przedstawia ceny zamknięcia KGHM, drugi niech przedstawia ceny miedzi (na podstawie kolumn "Zamknięcie").<br> 3)Jako trzeci element wykresu dodaj tabelę zestawiającą ceny zamknięcia KGHM oraz miedzi w kolejnych dniach (ponownie na podstawie kolumny "Zamknięcie"). <br> 4) Wykresowi nadaj odpowiednie tytuły, zadbaj, aby wykresy miały wspólną oś x.

In [8]:
# pobieram dane odnosnie ceny miedzi
ca_price=pd.read_csv('ca_c_f_d.csv')

In [9]:
ca_price.head()

         Data  Otwarcie  Najwyzszy  Najnizszy  Zamkniecie
0  2015-01-02    6309.0     6309.0     6309.0      6309.0
1  2015-01-05    6216.0     6216.0     6216.0      6216.0
2  2015-01-06    6191.0     6191.0     6191.0      6191.0
3  2015-01-07    6170.0     6170.0     6170.0      6170.0
4  2015-01-08    6230.5     6230.5     6230.5      6230.5

In [10]:
# pobieram dane odnosnie ceny akcji
KGHM_price=pd.read_csv('kgh_d.csv')

In [11]:
KGHM_price.head()

         Data  Otwarcie  Najwyzszy  Najnizszy  Zamkniecie  Wolumen
0  2015-01-02    102.45     102.83     101.97      102.40   309987
1  2015-01-05    102.16     102.88      99.91      100.09   479228
2  2015-01-07    100.53     105.45      99.67      104.89   966372
3  2015-01-08    105.35     107.15     105.35      107.11   711805
4  2015-01-09    107.15     107.15     103.87      104.33   563221

In [12]:
"""
x1=ca_price['Zamkniecie']
y1=ca_price['Data']
x2=KGHM_price['Zamkniecie'] 
"""

"\nx1=ca_price['Zamkniecie']\ny1=ca_price['Data']\nx2=KGHM_price['Zamkniecie'] \n"

In [13]:
# Tworzymy dwa podwykresy w jednej kolumnie
fig = make_subplots(rows=2, cols=1, 
                    subplot_titles=("Ceny zamknięcia KGHM", "Ceny zamknięcia Miedzi"))

In [14]:
fig = make_subplots(
    rows=3, cols=1,
    shared_xaxes=True,
    subplot_titles=("Ceny KGHM", "Ceny miedzi", "Tabela porównawcza"),
    specs=[[{"type": "xy"}],
           [{"type": "xy"}],
           [{"type": "table"}]]
)

# --- Wykres KGHM ---
fig.add_trace(
    go.Scatter(
        x=KGHM_price['Data'],
        y=KGHM_price['Zamkniecie'],
        mode='lines',
        name="KGHM",
        legendgroup="KGHM",
    ),
    row=1, col=1
)

# --- Wykres miedzi ---
fig.add_trace(
    go.Scatter(
        x=KGHM_price['Data'],
        y=ca_price['Zamkniecie'],
        mode='lines',
        name="Miedź",
        legendgroup="Miedź"
    ),
    row=2, col=1
)

# --- Tabela porównawcza ---
fig.add_trace(
    go.Table(
        header=dict(values=["Data", "KGHM - Zamknięcie", "Miedź - Zamknięcie"],
                    fill_color="lightgrey",
                    align="center"),
        cells=dict(values=[
            KGHM_price['Data'],
            KGHM_price['Zamkniecie'],
            ca_price['Zamkniecie']
        ],
                   align="center")
    ),
    row=3, col=1
)

# Layout
fig.update_layout(height=900, showlegend=True, title_text="Analiza cen KGHM i miedzi")
fig.show()